

<div class="hotdogs">
    <div id="buns">
<br>
		<p>A Brewcrew Production</p>
		<h1>Charlotte Breweries</h1>
<br>
<br>
		<h3>Think Local. Drink Local.</h3>
<br>
<br>
		<div class="mybtn text-center">
			<%= link_to "Browse Breweries", breweries_path, class:"btn btn-lg" %>
		</div>

	</div>
</div>