/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map-canvas {
    align-content: center
  width: 75%;
  height: 400px;
}
.index h6 {
	text-align: center;
}
.index h3 {
	text-align: center;
}
.index  {
	align-content: center;
}
.hotdogs{
    background-image: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fstatic.pexels.com%2Fphotos%2F8847%2Ffood-night-drink-glass-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: auto;
}
.hotdogs h1 {
    font: center;
    font-size: 58px;
    text-align: center;
    color: white;
    font-family: 'Shrikhand';
}
.hotdogs h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Raleway';
}
.hotdogs p {
    padding-top: 100px;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 24px;
    color: white;
}
#nav-container  {
    width: 100%;
    height: 60px;
    position: fixed;
    top:50%;
}
.nav-links  {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    transition: background-color 0.5s ease;
    background-color: #111;
    font-family: 'Raleway';
    
}
.nav-links:hover {
    background-color: #333;
}
.cheese {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('drinkbeer.jpg');
    height: 400px;
    font-family:'Shrikhand';
}
#centerme {
    position:relative;
    top:40%;    
    left:0;
    width:100%;
    color: white;
}
.raleway {
    font-family: 'Raleway';
}
.home {
    align-content: center;
}

.mybtn {
    font-family: 'Raleway';
}

.showmain {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('drinkbeer.jpg');
    height: 400px;
    font-family:'Shrikhand';
}

#bannershow {
    position:relative;
    top:40%;    
    left:0;
    width:100%;
    color: white;
    font-family: 'Raleway';
}

.icondeats {
    font-family: 'Raleway';
    font-weight: 900;
    text-align: center;
}

.iconinfo {
    font-family: 'Raleway';
    text-align: center;
}

.iconsize {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.brewdesc {
    font-family: 'Raleway';
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.line {
    padding-left: 300px;
    padding-right: 300px;
}

.container {
    padding-top: 50px;
}
