<div class="nachos">
  <div class="cheese">
    <div id="centerme">
    <h1 align="center"> You Look Like You Could Use a Drink</h1>
    </div>
  </div>

<div class='jumbotron text-center'>
  <h2 style="font-family:Raleway">Filter Charlotte Breweries</h2>
    <div class="btn-group" role="group" aria-label="People Groups">
        <div class="raleway">
        <%= link_to 'All', breweries_path, class: "btn btn-default" %>
        <%= link_to "Nearby", filter_breweries_nearby_path, class: "btn btn-default" %>
        <%= link_to "By Rating", breweries_path, class: "btn btn-default" %>
        <%= link_to "I Just Need a Damn Beer", breweries_path, class: "btn btn-default" %>
        </div>
    </div>
</div>
<br>
<div id="map-canvas"></div>